<template>
  <form @submit.prevent="addTodo" class="todoNew">
    <input v-model="newTodoName" class="todoNew__input" />
    <button class="todoNew__button">Add todo</button>
  </form>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  data(): { newTodoName: string } {
    return {
      newTodoName: '',
    };
  },
  methods: {
    addTodo(event: Event): void {
      if (this.newTodoName.length) {
        this.$emit('newTodo', {
          id: this.generateId(),
          name: this.newTodoName,
          done: false,
          editing: false,
        });
        this.newTodoName = '';
      }
    },
    generateId(): string {
      const uniqueId =
        Math.random()
          .toString(36)
          .substring(2) + Date.now().toString(36);
      return uniqueId;
    },
  },
});
</script>

<style lang="scss" scoped>
.todoNew {
  display: flex;
}
.todoNew__input {
  flex: 1;
  height: 40px;
}
.todoNew__button {
  padding: 0 1rem;
}
</style>