<template>
  <main class="todoList">
    <todo-new v-on:newTodo="addTodo($event)"></todo-new>
    <ul class="todoList__items">
      <todo-item v-for="todo in todos" :key="todo.id" :todo="todo" v-on:update="saveTodos()"></todo-item>
    </ul>
    <button
      v-if="todos.length"
      @click="removeDoneTodos()"
      :disabled="doneTodos.length === 0"
      class="todoList__removeDone"
    >Remove done todos</button>
  </main>
</template>

<script lang="ts">
import Vue from 'vue';
import Todo from '@/models/todo';
import TodoNew from '@/components/TodoNew.vue';
import TodoItem from '@/components/TodoItem.vue';

export default Vue.extend({
  components: {
    TodoNew,
    TodoItem,
  },
  data(): { newTodoName: string; todos: Todo[] } {
    return {
      newTodoName: '',
      todos: [],
    };
  },
  computed: {
    doneTodos(): Todo[] {
      return this.todos.filter((todo) => todo.done);
    },
  },
  created() {
    const savedTodo: string | null = localStorage.getItem('todos');
    if (savedTodo) {
      this.todos = JSON.parse(savedTodo);
    }
  },
  methods: {
    addTodo(todo: Todo): void {
      this.todos.push(todo);
      this.saveTodos();
    },
    removeDoneTodos(): void {
      this.todos = this.todos.filter((todo) => !todo.done);
      this.saveTodos();
    },
    saveTodos(): void {
      localStorage.setItem(
        'todos',
        JSON.stringify(this.todos.map((todo) => ({ ...todo, editing: false }))),
      );
    },
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
input:checked ~ label {
  text-decoration: line-through;
}
.todoList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.todoList__items {
  margin-top: 1rem;
  padding-bottom: 3rem;
}
.todoList__removeDone {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  left: 0;
  box-shadow: 0 -10px 10px white;
}
</style>
